<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiemao.dao.EQPMaintainRecordMapper">
  <resultMap id="BaseResultMap" type="com.tiemao.pojo.EQPMaintainRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eqp_name" jdbcType="VARCHAR" property="eqpName" />
    <result column="eqp_number" jdbcType="VARCHAR" property="eqpNumber" />
    <result column="breakdown_time" jdbcType="TIMESTAMP" property="breakdownTime" />
    <result column="breakdown_desc" jdbcType="VARCHAR" property="breakdownDesc" />
    <result column="solution_time" jdbcType="TIMESTAMP" property="solutionTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="maintain_person" jdbcType="VARCHAR" property="maintainPerson" />
    <result column="have_mirror" jdbcType="INTEGER" property="haveMirror" />
    <result column="relative_data" jdbcType="VARCHAR" property="relativeData" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="lastmodify_person" jdbcType="VARCHAR" property="lastmodifyPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    id, eqp_name, eqp_number, breakdown_time, breakdown_desc, solution_time, status, 
    maintain_person, have_mirror, relative_data, remark, create_time, update_time, lastmodify_person
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eqp_maintain_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getEQPMaintainRecordInfo" parameterType="map" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"></include>
  	FROM tm.eqp_maintain_record
 	<if test="searchKey!=null and searchKey!='' and searchValue!=null and searchValue!=''">
		where ${searchKey} like '%${searchValue}%' 
	</if>
  </select>  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tm.eqp_maintain_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiemao.pojo.EQPMaintainRecord">
    insert into eqp_maintain_record (id, eqp_name, eqp_number, 
      breakdown_time, breakdown_desc, solution_time, 
      status, maintain_person, have_mirror, 
      relative_data, remark, create_time, 
      update_time, lastmodify_person)
    values (#{id,jdbcType=INTEGER}, #{eqpName,jdbcType=VARCHAR}, #{eqpNumber,jdbcType=VARCHAR}, 
      #{breakdownTime,jdbcType=TIMESTAMP}, #{breakdownDesc,jdbcType=VARCHAR}, #{solutionTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{maintainPerson,jdbcType=VARCHAR}, #{haveMirror,jdbcType=INTEGER}, 
      #{relativeData,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, now(), 
      now(), #{lastmodifyPerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiemao.pojo.EQPMaintainRecord">
    insert into tm.eqp_maintain_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eqpName != null">
        eqp_name,
      </if>
      <if test="eqpNumber != null">
        eqp_number,
      </if>
      <if test="breakdownTime != null">
        breakdown_time,
      </if>
      <if test="breakdownDesc != null">
        breakdown_desc,
      </if>
      <if test="solutionTime != null">
        solution_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="maintainPerson != null">
        maintain_person,
      </if>
      <if test="haveMirror != null">
        have_mirror,
      </if>
      <if test="relativeData != null">
        relative_data,
      </if>
      <if test="remark != null">
        remark,
      </if>

      <if test="lastmodifyPerson != null">
        lastmodify_person,
      </if>
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eqpName != null">
        #{eqpName,jdbcType=VARCHAR},
      </if>
      <if test="eqpNumber != null">
        #{eqpNumber,jdbcType=VARCHAR},
      </if>
      <if test="breakdownTime != null">
        #{breakdownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="breakdownDesc != null">
        #{breakdownDesc,jdbcType=VARCHAR},
      </if>
      <if test="solutionTime != null">
        #{solutionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="maintainPerson != null">
        #{maintainPerson,jdbcType=VARCHAR},
      </if>
      <if test="haveMirror != null">
        #{haveMirror,jdbcType=INTEGER},
      </if>
      <if test="relativeData != null">
        #{relativeData,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>

      <if test="lastmodifyPerson != null">
        #{lastmodifyPerson,jdbcType=VARCHAR},
      </if>
        now(),
        now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiemao.pojo.EQPMaintainRecord">
    update tm.eqp_maintain_record
    <set>
      <if test="eqpName != null">
        eqp_name = #{eqpName,jdbcType=VARCHAR},
      </if>
      <if test="eqpNumber != null">
        eqp_number = #{eqpNumber,jdbcType=VARCHAR},
      </if>
      <if test="breakdownTime != null">
        breakdown_time = #{breakdownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="breakdownDesc != null">
        breakdown_desc = #{breakdownDesc,jdbcType=VARCHAR},
      </if>
      <if test="solutionTime != null">
        solution_time = #{solutionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="maintainPerson != null">
        maintain_person = #{maintainPerson,jdbcType=VARCHAR},
      </if>
      <if test="haveMirror != null">
        have_mirror = #{haveMirror,jdbcType=INTEGER},
      </if>
      <if test="relativeData != null">
        relative_data = #{relativeData,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
      <if test="lastmodifyPerson != null">
        lastmodify_person = #{lastmodifyPerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiemao.pojo.EQPMaintainRecord">
    update eqp_maintain_record
    set eqp_name = #{eqpName,jdbcType=VARCHAR},
      eqp_number = #{eqpNumber,jdbcType=VARCHAR},
      breakdown_time = #{breakdownTime,jdbcType=TIMESTAMP},
      breakdown_desc = #{breakdownDesc,jdbcType=VARCHAR},
      solution_time = #{solutionTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      maintain_person = #{maintainPerson,jdbcType=VARCHAR},
      have_mirror = #{haveMirror,jdbcType=INTEGER},
      relative_data = #{relativeData,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      lastmodify_person = #{lastmodifyPerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>