<div class="content-header">
	<h2 class="content-title">库存管理</h2>
	<span class="layui-breadcrumb" style="visibility: visible;">
	  <a href="#!home">总经办运维</a>
	  <span lay-separator>/</span>
	  <a><cite>库存管理</cite></a>
	</span>
</div>
<div>
	<div class="layui-form toolbar">
		搜索：
		<select id="searchKey" ng-model="repertory.searchkey">
			<option value="">-请选择-</option>
			<option value="product_name">产品名称</option>
		</select>&emsp;
		<input id="searchValue" class="layui-input search-input" type="text" placeholder="输入搜索内容" ng-model="repertory.searchValue"/>&emsp;
		<button id="searchBtn" class="layui-btn search-btn" ng-click="doSearch()"><i class="layui-icon">&#xe615;</i>搜索</button>&emsp;
		<button id="addBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe654;</i>添加</button>
	</div>
	<table id="repertorytable" lay-filter="repertory"></table>
</div>
<script type="text/html" id="articleTopicTpl">
  <a href="javascript:;" class="layui-table-link" target="_blank">{{ d.productName }}</a>
</script>
<script type="text/html" id="switchTpl">
  <input type="checkbox" name="switch" value="{{d.productId}}" lay-skin="switch" lay-text="可用|禁用" lay-filter="sexDemo" {{ d.isDelete == 0 ? 'checked' : '' }}>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="barTpl">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/ng-template" id="addModel">
	<h6>带<span style="color:red">*</span>为必填项</h6>
	<form id="editForm" class="layui-form model-form" action="">
		<input name="userId" type="hidden" />
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color:red">*</span>产品名称</label>
 			<div class="layui-input-block">
				<input name="productName" placeholder="请输入产品名称" type="text" class="layui-input" maxlength="20" lay-verify="required"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color:red">*</span>剩余数量</label>
 			<div class="layui-input-block">
				<input name="remainAmount" placeholder="请输入产品数量" type="text" class="layui-input" maxlength="20" lay-verify="required||number"/>
			</div>
		</div>
		<div class="layui-form-item model-form-footer">
			<button class="layui-btn layui-btn-primary" type="button" id="btnCancel">取消</button>
			<button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
		</div>
	</form>
</script>